/* DO NOT USE */
/* ONLY CHANGE */

:root {
  --light__primary_hlv: #004a99;
  --light__onprimary_hlv: #ffffff;
  --light__primarycontainer_hlv: #d7e2ff;
  --light__onprimarycontainer_hlv: #001b3f;
  --light__secondary_hlv: #002b74;
  --light__onsecondary_hlv: #ffffff;
  --light__secondarycontainer_hlv: #dbe4ff;
  --light__onsecondarycontainer_hlv: #00174a;
  --light__tertiary_hlv: #eeb100;
  --light__ontertiary_hlv: #000000;
  --light__tertiarycontainer_hlv: #ffeeb0;
  --light__ontertiarycontainer_hlv: #211900;
  --light__error_hlv: #ba1a1a;
  --light__onerror_hlv: #ffffff;
  --light__errorcontainer_hlv: #ffdad6;
  --light__onerrorcontainer_hlv: #410002;
  --light__warning_hlv: #6b5300;
  --light__onwarning_hlv: #ffffff;
  --light__warningcontainer_hlv: #ffeeb0;
  --light__onwarningcontainer_hlv: #211900;
  --light__success_hlv: #006e2c;
  --light__onsuccess_hlv: #ffffff;
  --light__successcontainer_hlv: #76ff98;
  --light__onsuccesscontainer_hlv: #002108;
  --light__info_hlv: #005bc0;
  --light__oninfo_hlv: #ffffff;
  --light__infocontainer_hlv: #d7e2ff;
  --light__oninfocontainer_hlv: #001b3f;
  --dark__primary_hlv: #b2c5ff;
  --dark__onprimary_hlv: #002b74;
  --dark__primarycontainer_hlv: #004095;
  --dark__onprimarycontainer_hlv: #dbe4ff;
  --dark__secondary_hlv: #b2c5ff;
  --dark__onsecondary_hlv: #002b74;
  --dark__secondarycontainer_hlv: #004095;
  --dark__onsecondarycontainer_hlv: #dbe4ff;
  --dark__tertiary_hlv: #eec100;
  --dark__ontertiary_hlv: #3f3100;
  --dark__tertiarycontainer_hlv: #5a4700;
  --dark__ontertiarycontainer_hlv: #ffeeb0;
  --dark__error_hlv: #ffb4ab;
  --dark__onerror_hlv: #690005;
  --dark__errorcontainer_hlv: #93000a;
  --dark__onerrorcontainer_hlv: #ffdad6;
  --dark__warning_hlv: #eec100;
  --dark__onwarning_hlv: #392b00;
  --dark__warningcontainer_hlv: #523e00;
  --dark__onwarningcontainer_hlv: #ffeeb0;
  --dark__success_hlv: #56df7d;
  --dark__onsuccess_hlv: #003913;
  --dark__successcontainer_hlv: #00531f;
  --dark__onsuccesscontainer_hlv: #76ff98;
  --dark__info_hlv: #abc7ff;
  --dark__oninfo_hlv: #002f65;
  --dark__infocontainer_hlv: #004494;
  --dark__oninfocontainer_hlv: #d7e2ff;
  --light__background_hlv: #fcfcff;
  --light__onbackground_hlv: #1a1c1e;
  --light__surface_hlv: #ffffff;
  --light__onsurface_hlv: #1a1c1e;
  --light__surfacevariant_hlv: #e1e2ec;
  --light__onsurfacevariant_hlv: #2e3136;
  --light__outline_hlv: #60626b;
  --light__outlinevariant_hlv: #c5c6d0;
  --light__shadow_hlv: #000000;
  --light__scrim_hlv: #000000;
  --light__inversesurface_hlv: #2f3033;
  --light__inverseonsurface_hlv: #f1f0f4;
  --light__inverseprimary_hlv: #b2c5ff;
  --dark__background_hlv: #1a1c1e;
  --dark__onbackground_hlv: #e3e2e6;
  --dark__surface_hlv: #121316;
  --dark__onsurface_hlv: #e3e2e6;
  --dark__surfacevariant_hlv: #44474f;
  --dark__onsurfacevariant_hlv: #c5c6d0;
  --dark__outline_hlv: #8f9099;
  --dark__outlinevariant_hlv: #44474f;
  --dark__shadow_hlv: #000000;
  --dark__scrim_hlv: #000000;
  --dark__inversesurface_hlv: #e3e2e6;
  --dark__inverseonsurface_hlv: #2f3033;
  --dark__inverseprimary_hlv: #0057b8;
  --light__primaryfixed_hlv: #dbe4ff;
  --light__primaryfixeddim_hlv: #b2c5ff;
  --light__onprimaryfixed_hlv: #00174a;
  --light__onprimaryfixedvariant_hlv: #004095;
  --dark__primaryfixed_hlv: #dbe4ff;
  --dark__primaryfixeddim_hlv: #b2c5ff;
  --dark__onprimaryfixed_hlv: #00174a;
  --dark__onprimaryfixedvariant_hlv: #004095;
  --light__secondaryfixed_hlv: #dbe4ff;
  --light__secondaryfixeddim_hlv: #b2c5ff;
  --light__onsecondaryfixed_hlv: #00174a;
  --light__onsecondaryfixedvariant_hlv: #004095;
  --dark__secondaryfixed_hlv: #dbe4ff;
  --dark__secondaryfixeddim_hlv: #b2c5ff;
  --dark__onsecondaryfixed_hlv: #00174a;
  --dark__onsecondaryfixedvariant_hlv: #004095;
  --light__tertiaryfixed_hlv: #ffeeb0;
  --light__tertiaryfixeddim_hlv: #eec100;
  --light__ontertiaryfixed_hlv: #211900;
  --light__ontertiaryfixedvariant_hlv: #5a4700;
  --dark__tertiaryfixed_hlv: #ffeeb0;
  --dark__tertiaryfixeddim_hlv: #eec100;
  --dark__ontertiaryfixed_hlv: #211900;
  --dark__ontertiaryfixedvariant_hlv: #5a4700;
}

/* DO NOT CHANGE */
/* ONLY USE */
:root {
  --hl-onprimary: var(--light__onprimary_hlv);
  --hl-primarycontainer: var(--light__primarycontainer_hlv);
  --hl-onprimarycontainer: var(--light__onprimarycontainer_hlv);
  --hl-secondary: var(--light__secondary_hlv);
  --hl-onsecondary: var(--light__onsecondary_hlv);
  --hl-secondarycontainer: var(--light__secondarycontainer_hlv);
  --hl-onsecondarycontainer: var(
    --light__onsecondarycontainer_hlv
  );
  --hl-tertiary: var(--light__tertiary_hlv);
  --hl-ontertiary: var(--light__ontertiary_hlv);
  --hl-tertiarycontainer: var(--light__tertiarycontainer_hlv);
  --hl-ontertiarycontainer: var(--light__ontertiarycontainer_hlv);
  --hl-onerror: var(--light__onerror_hlv);
  --hl-errorcontainer: var(--light__errorcontainer_hlv);
  --hl-onerrorcontainer: var(--light__onerrorcontainer_hlv);
  --hl-background: var(--light__background_hlv);
  --hl-onbackground: var(--light__onbackground_hlv);
  --hl-surface: var(--light__surface_hlv);
  --hl-onsurface: var(--light__onsurface_hlv);
  --hl-onsurfacevariant: var(--light__onsurfacevariant_hlv);
  --hl-surfacevariant: var(--light__surfacevariant_hlv);
  --hl-shadow: var(--light__shadow_hlv);
  --hl-inversesurface: var(--light__inversesurface_hlv);
  --hl-scrim: var(--light__scrim_hlv);
  --hl-inverseonsurface: var(--light__inverseonsurface_hlv);
  --hl-inverseprimary: var(--light__inverseprimary_hlv);
  --hl-success: var(--light__success_hlv);
  --hl-onsuccess: var(--light__onsuccess_hlv);
  --hl-successcontainer: var(--light__successcontainer_hlv);
  --hl-onsuccesscontainer: var(--light__onsuccesscontainer_hlv);
  --hl-warning: var(--light__warning_hlv);
  --hl-onwarning: var(--light__onwarning_hlv);
  --hl-warningcontainer: var(--light__warningcontainer_hlv);
  --hl-onwarningcontainer: var(--light__onwarningcontainer_hlv);
  --hl-info: var(--light__info_hlv);
  --hl-oninfo: var(--light__oninfo_hlv);
  --hl-infocontainer: var(--light__infocontainer_hlv);
  --hl-oninfocontainer: var(--light__oninfocontainer_hlv);
  --hl-primaryfixed: var(--light__primaryfixed_hlv);
  --hl-onprimaryfixed: var(--light__onprimaryfixed_hlv);
  --hl-primaryfixeddim: var(--light__primaryfixeddim_hlv);
  --hl-onprimaryfixedvariant: var(
    --light__onprimaryfixedvariant_hlv
  );
  --hl-secondaryfixed: var(--light__secondaryfixed_hlv);
  --hl-secondaryfixeddim: var(--light__secondaryfixeddim_hlv);
  --hl-onsecondaryfixed: var(--light__onsecondaryfixed_hlv);
  --hl-onsecondaryfixedvariant: var(
    --light__onsecondaryfixedvariant_hlv
  );
  --hl-tertiaryfixed: var(--light__tertiaryfixed_hlv);
  --hl-ontertiaryfixed: var(--light__ontertiaryfixed_hlv);
  --hl-tertiaryfixeddim: var(--light__tertiaryfixeddim_hlv);
  --hl-ontertiaryfixedvariant: var(
    --light__ontertiaryfixedvariant_hlv
  );
  --hl-surfacedim: var(--light__surfacedim_hlv);
  --hl-surfacebright: var(--light__surfacebright_hlv);
  --hl-surfacecontainerlowest: var(
    --light__surfacecontainerlowest_hlv
  );
  --hl-surfacecontainer: var(--light__surfacecontainer_hlv);
  --hl-surfacecontainerhigh: var(
    --light__surfacecontainerhigh_hlv
  );
  --hl-surfacecontainerhighest: var(
    --light__surfacecontainerhighest_hlv
  );
  --hl-surfacecontainerlow: var(--light__surfacecontainerlow_hlv);
  --hl-outlinevariant: var(--light__outlinevariant_hlv);
  --hl-outline: var(--light__outline_hlv);
  --hl-error: var(--light__error_hlv);
  --hl-primary: var(--light__primary_hlv);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  :root {
    --hl-onprimary: var(--dark__onprimary_hlv);
    --hl-primarycontainer: var(--dark__primarycontainer_hlv);
    --hl-onprimarycontainer: var(--dark__onprimarycontainer_hlv);
    --hl-secondary: var(--dark__secondary_hlv);
    --hl-onsecondary: var(--dark__onsecondary_hlv);
    --hl-secondarycontainer: var(--dark__secondarycontainer_hlv);
    --hl-onsecondarycontainer: var(
      --dark__onsecondarycontainer_hlv
    );
    --hl-tertiary: var(--dark__tertiary_hlv);
    --hl-ontertiary: var(--dark__ontertiary_hlv);
    --hl-tertiarycontainer: var(--dark__tertiarycontainer_hlv);
    --hl-ontertiarycontainer: var(
      --dark__ontertiarycontainer_hlv
    );
    --hl-onerror: var(--dark__onerror_hlv);
    --hl-errorcontainer: var(--dark__errorcontainer_hlv);
    --hl-onerrorcontainer: var(--dark__onerrorcontainer_hlv);
    --hl-background: var(--dark__background_hlv);
    --hl-onbackground: var(--dark__onbackground_hlv);
    --hl-surface: var(--dark__surface_hlv);
    --hl-onsurface: var(--dark__onsurface_hlv);
    --hl-onsurfacevariant: var(--dark__onsurfacevariant_hlv);
    --hl-surfacevariant: var(--dark__surfacevariant_hlv);
    --hl-shadow: var(--dark__shadow_hlv);
    --hl-inversesurface: var(--dark__inversesurface_hlv);
    --hl-scrim: var(--dark__scrim_hlv);
    --hl-inverseonsurface: var(--dark__inverseonsurface_hlv);
    --hl-inverseprimary: var(--dark__inverseprimary_hlv);
    --hl-success: var(--dark__success_hlv);
    --hl-onsuccess: var(--dark__onsuccess_hlv);
    --hl-successcontainer: var(--dark__successcontainer_hlv);
    --hl-onsuccesscontainer: var(--dark__onsuccesscontainer_hlv);
    --hl-warning: var(--dark__warning_hlv);
    --hl-onwarning: var(--dark__onwarning_hlv);
    --hl-warningcontainer: var(--dark__warningcontainer_hlv);
    --hl-onwarningcontainer: var(--dark__onwarningcontainer_hlv);
    --hl-info: var(--dark__info_hlv);
    --hl-oninfo: var(--dark__oninfo_hlv);
    --hl-infocontainer: var(--dark__infocontainer_hlv);
    --hl-oninfocontainer: var(--dark__oninfocontainer_hlv);
    --hl-primaryfixed: var(--dark__primaryfixed_hlv);
    --hl-onprimaryfixed: var(--dark__onprimaryfixed_hlv);
    --hl-primaryfixeddim: var(--dark__primaryfixeddim_hlv);
    --hl-onprimaryfixedvariant: var(
      --dark__onprimaryfixedvariant_hlv
    );
    --hl-secondaryfixed: var(--dark__secondaryfixed_hlv);
    --hl-secondaryfixeddim: var(--dark__secondaryfixeddim_hlv);
    --hl-onsecondaryfixed: var(--dark__onsecondaryfixed_hlv);
    --hl-onsecondaryfixedvariant: var(
      --dark__onsecondaryfixedvariant_hlv
    );
    --hl-tertiaryfixed: var(--dark__tertiaryfixed_hlv);
    --hl-ontertiaryfixed: var(--dark__ontertiaryfixed_hlv);
    --hl-tertiaryfixeddim: var(--dark__tertiaryfixeddim_hlv);
    --hl-ontertiaryfixedvariant: var(
      --dark__ontertiaryfixedvariant_hlv
    );
    --hl-surfacedim: var(--dark__surfacedim_hlv);
    --hl-surfacebright: var(--dark__surfacebright_hlv);
    --hl-surfacecontainerlowest: var(
      --dark__surfacecontainerlowest_hlv
    );
    --hl-surfacecontainer: var(--dark__surfacecontainer_hlv);
    --hl-surfacecontainerhigh: var(
      --dark__surfacecontainerhigh_hlv
    );
    --hl-surfacecontainerhighest: var(
      --dark__surfacecontainerhighest_hlv
    );
    --hl-surfacecontainerlow: var(
      --dark__surfacecontainerlow_hlv
    );
    --hl-outlinevariant: var(--dark__outlinevariant_hlv);
    --hl-outline: var(--dark__outline_hlv);
    --hl-error: var(--dark__error_hlv);
    --hl-primary: var(--dark__primary_hlv);
  }
}

/* Toggle Overrides */
html:has(#theme-manual-toggle:checked) {
  --hl-onprimary: var(--dark__onprimary_hlv);
  --hl-primarycontainer: var(--dark__primarycontainer_hlv);
  --hl-onprimarycontainer: var(--dark__onprimarycontainer_hlv);
  --hl-secondary: var(--dark__secondary_hlv);
  --hl-onsecondary: var(--dark__onsecondary_hlv);
  --hl-secondarycontainer: var(--dark__secondarycontainer_hlv);
  --hl-onsecondarycontainer: var(
    --dark__onsecondarycontainer_hlv
  );
  --hl-tertiary: var(--dark__tertiary_hlv);
  --hl-ontertiary: var(--dark__ontertiary_hlv);
  --hl-tertiarycontainer: var(--dark__tertiarycontainer_hlv);
  --hl-ontertiarycontainer: var(--dark__ontertiarycontainer_hlv);
  --hl-onerror: var(--dark__onerror_hlv);
  --hl-errorcontainer: var(--dark__errorcontainer_hlv);
  --hl-onerrorcontainer: var(--dark__onerrorcontainer_hlv);
  --hl-background: var(--dark__background_hlv);
  --hl-onbackground: var(--dark__onbackground_hlv);
  --hl-surface: var(--dark__surface_hlv);
  --hl-onsurface: var(--dark__onsurface_hlv);
  --hl-onsurfacevariant: var(--dark__onsurfacevariant_hlv);
  --hl-surfacevariant: var(--dark__surfacevariant_hlv);
  --hl-shadow: var(--dark__shadow_hlv);
  --hl-inversesurface: var(--dark__inversesurface_hlv);
  --hl-scrim: var(--dark__scrim_hlv);
  --hl-inverseonsurface: var(--dark__inverseonsurface_hlv);
  --hl-inverseprimary: var(--dark__inverseprimary_hlv);
  --hl-success: var(--dark__success_hlv);
  --hl-onsuccess: var(--dark__onsuccess_hlv);
  --hl-successcontainer: var(--dark__successcontainer_hlv);
  --hl-onsuccesscontainer: var(--dark__onsuccesscontainer_hlv);
  --hl-warning: var(--dark__warning_hlv);
  --hl-onwarning: var(--dark__onwarning_hlv);
  --hl-warningcontainer: var(--dark__warningcontainer_hlv);
  --hl-onwarningcontainer: var(--dark__onwarningcontainer_hlv);
  --hl-info: var(--dark__info_hlv);
  --hl-oninfo: var(--dark__oninfo_hlv);
  --hl-infocontainer: var(--dark__infocontainer_hlv);
  --hl-oninfocontainer: var(--dark__oninfocontainer_hlv);
  --hl-primaryfixed: var(--dark__primaryfixed_hlv);
  --hl-onprimaryfixed: var(--dark__onprimaryfixed_hlv);
  --hl-primaryfixeddim: var(--dark__primaryfixeddim_hlv);
  --hl-onprimaryfixedvariant: var(
    --dark__onprimaryfixedvariant_hlv
  );
  --hl-secondaryfixed: var(--dark__secondaryfixed_hlv);
  --hl-secondaryfixeddim: var(--dark__secondaryfixeddim_hlv);
  --hl-onsecondaryfixed: var(--dark__onsecondaryfixed_hlv);
  --hl-onsecondaryfixedvariant: var(
    --dark__onsecondaryfixedvariant_hlv
  );
  --hl-tertiaryfixed: var(--dark__tertiaryfixed_hlv);
  --hl-ontertiaryfixed: var(--dark__ontertiaryfixed_hlv);
  --hl-tertiaryfixeddim: var(--dark__tertiaryfixeddim_hlv);
  --hl-ontertiaryfixedvariant: var(
    --dark__ontertiaryfixedvariant_hlv
  );
  --hl-surfacedim: var(--dark__surfacedim_hlv);
  --hl-surfacebright: var(--dark__surfacebright_hlv);
  --hl-surfacecontainerlowest: var(
    --dark__surfacecontainerlowest_hlv
  );
  --hl-surfacecontainer: var(--dark__surfacecontainer_hlv);
  --hl-surfacecontainerhigh: var(
    --dark__surfacecontainerhigh_hlv
  );
  --hl-surfacecontainerhighest: var(
    --dark__surfacecontainerhighest_hlv
  );
  --hl-surfacecontainerlow: var(--dark__surfacecontainerlow_hlv);
  --hl-outlinevariant: var(--dark__outlinevariant_hlv);
  --hl-outline: var(--dark__outline_hlv);
  --hl-error: var(--dark__error_hlv);
  --hl-primary: var(--dark__primary_hlv);

  color-scheme: dark;
}

html:has(#theme-manual-toggle:not(:checked)) {
  --hl-onprimary: var(--light__onprimary_hlv);
  --hl-primarycontainer: var(--light__primarycontainer_hlv);
  --hl-onprimarycontainer: var(--light__onprimarycontainer_hlv);
  --hl-secondary: var(--light__secondary_hlv);
  --hl-onsecondary: var(--light__onsecondary_hlv);
  --hl-secondarycontainer: var(--light__secondarycontainer_hlv);
  --hl-onsecondarycontainer: var(
    --light__onsecondarycontainer_hlv
  );
  --hl-tertiary: var(--light__tertiary_hlv);
  --hl-ontertiary: var(--light__ontertiary_hlv);
  --hl-tertiarycontainer: var(--light__tertiarycontainer_hlv);
  --hl-ontertiarycontainer: var(--light__ontertiarycontainer_hlv);
  --hl-onerror: var(--light__onerror_hlv);
  --hl-errorcontainer: var(--light__errorcontainer_hlv);
  --hl-onerrorcontainer: var(--light__onerrorcontainer_hlv);
  --hl-background: var(--light__background_hlv);
  --hl-onbackground: var(--light__onbackground_hlv);
  --hl-surface: var(--light__surface_hlv);
  --hl-onsurface: var(--light__onsurface_hlv);
  --hl-onsurfacevariant: var(--light__onsurfacevariant_hlv);
  --hl-surfacevariant: var(--light__surfacevariant_hlv);
  --hl-shadow: var(--light__shadow_hlv);
  --hl-inversesurface: var(--light__inversesurface_hlv);
  --hl-scrim: var(--light__scrim_hlv);
  --hl-inverseonsurface: var(--light__inverseonsurface_hlv);
  --hl-inverseprimary: var(--light__inverseprimary_hlv);
  --hl-success: var(--light__success_hlv);
  --hl-onsuccess: var(--light__onsuccess_hlv);
  --hl-successcontainer: var(--light__successcontainer_hlv);
  --hl-onsuccesscontainer: var(--light__onsuccesscontainer_hlv);
  --hl-warning: var(--light__warning_hlv);
  --hl-onwarning: var(--light__onwarning_hlv);
  --hl-warningcontainer: var(--light__warningcontainer_hlv);
  --hl-onwarningcontainer: var(--light__onwarningcontainer_hlv);
  --hl-info: var(--light__info_hlv);
  --hl-oninfo: var(--light__oninfo_hlv);
  --hl-infocontainer: var(--light__infocontainer_hlv);
  --hl-oninfocontainer: var(--light__oninfocontainer_hlv);
  --hl-primaryfixed: var(--light__primaryfixed_hlv);
  --hl-onprimaryfixed: var(--light__onprimaryfixed_hlv);
  --hl-primaryfixeddim: var(--light__primaryfixeddim_hlv);
  --hl-onprimaryfixedvariant: var(
    --light__onprimaryfixedvariant_hlv
  );
  --hl-secondaryfixed: var(--light__secondaryfixed_hlv);
  --hl-secondaryfixeddim: var(--light__secondaryfixeddim_hlv);
  --hl-onsecondaryfixed: var(--light__onsecondaryfixed_hlv);
  --hl-onsecondaryfixedvariant: var(
    --light__onsecondaryfixedvariant_hlv
  );
  --hl-tertiaryfixed: var(--light__tertiaryfixed_hlv);
  --hl-ontertiaryfixed: var(--light__ontertiaryfixed_hlv);
  --hl-tertiaryfixeddim: var(--light__tertiaryfixeddim_hlv);
  --hl-ontertiaryfixedvariant: var(
    --light__ontertiaryfixedvariant_hlv
  );
  --hl-surfacedim: var(--light__surfacedim_hlv);
  --hl-surfacebright: var(--light__surfacebright_hlv);
  --hl-surfacecontainerlowest: var(
    --light__surfacecontainerlowest_hlv
  );
  --hl-surfacecontainer: var(--light__surfacecontainer_hlv);
  --hl-surfacecontainerhigh: var(
    --light__surfacecontainerhigh_hlv
  );
  --hl-surfacecontainerhighest: var(
    --light__surfacecontainerhighest_hlv
  );
  --hl-surfacecontainerlow: var(--light__surfacecontainerlow_hlv);
  --hl-outlinevariant: var(--light__outlinevariant_hlv);
  --hl-outline: var(--light__outline_hlv);
  --hl-error: var(--light__error_hlv);
  --hl-primary: var(--light__primary_hlv);

  color-scheme: light;
}
