.align-self-start,
.self-start {
  align-self: start;
}

.align-self-end,
.self-end {
  align-self: end;
}

.align-self-center,
.self-center {
  align-self: center;
}

.align-self-stretch,
.self-stretch {
  align-self: stretch;
}

.align-self-baseline,
.self-baseline {
  align-self: baseline;
}

.align-self-auto,
.self-auto {
  align-self: auto;
}
