.border-radius-2xs,
.rounded-2xs {
  border-radius: var(--2xs);
}

.border-radius-xs,
.rounded-xs {
  border-radius: var(--xs);
}

.border-radius-sm,
.rounded-sm {
  border-radius: var(--sm);
}

.border-radius-md,
.rounded-md,
.rounded {
  border-radius: var(--md);
}

.border-radius-lg,
.rounded-lg {
  border-radius: var(--lg);
}

.border-radius-xl,
.rounded-xl {
  border-radius: var(--xl);
}

.border-radius-2xl,
.rounded-2xl {
  border-radius: var(--2xl);
}

.border-radius-circle,
.rounded-full {
  border-radius: 100em;
}

.border-radius-0,
.rounded-none {
  border-radius: 0;
}
