.colspan-1,
.col-span-1 {
  grid-column: span 1;
}

.colspan-2,
.col-span-2 {
  grid-column: span 2;
}

.colspan-3,
.col-span-3 {
  grid-column: span 3;
}

.colspan-4,
.col-span-4 {
  grid-column: span 4;
}

.colspan-5,
.col-span-5 {
  grid-column: span 5;
}

.colspan-6,
.col-span-6 {
  grid-column: span 6;
}

.colspan-7,
.col-span-7 {
  grid-column: span 7;
}

.colspan-8,
.col-span-8 {
  grid-column: span 8;
}

.colspan-9,
.col-span-9 {
  grid-column: span 9;
}

.colspan-10,
.col-span-10 {
  grid-column: span 10;
}

.colspan-11,
.col-span-11 {
  grid-column: span 11;
}

.colspan-12,
.col-span-12 {
  grid-column: span 12;
}
