/* Flexbox Utilities */
:where(.flex-row) {
  display: flex;
  flex-direction: row;
}

:where(.flex-row-reverse) {
  display: flex;
  flex-direction: row-reverse;
}

:where(.flex-col) {
  display: flex;
  flex-direction: column;
}

:where(.flex-col-reverse) {
  display: flex;
  flex-direction: column-reverse;
}

:where(.flex-wrap) {
  flex-wrap: wrap;
}

:where(.flex-nowrap) {
  flex-wrap: nowrap;
}

:where(.flex-1) {
  flex: 1 1 0%;
}

:where(.flex-auto) {
  flex: 1 1 auto;
}

:where(.flex-none) {
  flex: none;
}

:where(.grow) {
  flex-grow: 1;
}

:where(.grow-0) {
  flex-grow: 0;
}

:where(.shrink) {
  flex-shrink: 1;
}

:where(.shrink-0) {
  flex-shrink: 0;
}

/* Legacy HeavyLift aliases */
:where(.flex-h) {
  display: flex;
  flex-direction: row;
}

:where(.flex-v) {
  display: flex;
  flex-direction: column;
}

:where(.flex-h-center) {
  display: flex;
  align-items: center;
  justify-content: center;
}

:where(.flex-v-center) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
