.overflow-hidden {
  overflow: hidden;
}
.overflow-visible {
  overflow: visible;
}
.overflow-scroll {
  overflow: scroll;
}
.overflow-auto {
  scrollbar-width: thin;
  scrollbar-color: var(--hl-outline) transparent;
  overflow: auto;
}
.overflow-y-scroll {
  scrollbar-width: none;
  overflow-y: scroll;
}

.text-overflow-ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
}
