.accordion {
  --acc-container-color: var(--hl-surface);
  --acc-header-color: var(--hl-onsurface);
  --acc-content-color: var(--hl-onsurfacevariant);
  
  --acc-padding: var(--md);
  --acc-radius: var(--sm);
  
  display: flex;
  flex-direction: column;
  background-color: var(--acc-container-color);
  border-radius: var(--acc-radius);
  overflow: hidden;
  
  border: 1px solid transparent;
  transition: background-color 200ms ease, border-color 200ms ease;
}

.accordion.outlined {
  border-color: var(--hl-outlinevariant);
}
.accordion.outlined.open {
  border-color: var(--hl-outline);
}

.accordion-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: var(--acc-padding);
  
  background: transparent;
  border: none;
  color: var(--acc-header-color);
  
  font-family: var(--font-family-base);
  font-size: var(--title2-font-size);
  font-weight: 500;
  text-align: left;
  
  cursor: pointer;
  position: relative;
}

.accordion-icon {
  font-size: var(--lg);
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.accordion.open .accordion-icon {
  transform: rotate(180deg);
}

.accordion-content {
  color: var(--acc-content-color);
  font-size: var(--body-font-size);
  line-height: var(--body-line-height);
  
  height: 0;
  overflow: hidden;
  opacity: 0;
  transition: height 300ms cubic-bezier(0.4, 0, 0.2, 1), opacity 300ms linear;
  
  padding-inline: var(--acc-padding);
}

.accordion.open .accordion-content {
  height: auto;
  opacity: 1;
  padding-bottom: var(--acc-padding);
}

.accordion-header::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--acc-header-color);
  opacity: 0;
  transition: opacity 200ms linear;
  pointer-events: none;
}
.accordion-header:hover::after {
  opacity: 0.08;
}
.accordion-header:active::after {
  opacity: 0.12;
}