.container-xs,
.container-sm,
.container-md,
.container-lg,
.container-xl {
  margin-inline: auto;
  padding-inline: var(--lg);
  width: 100%;
  box-sizing: border-box;
}

.container-xs {
  max-width: 61.804em;
}
.container-sm {
  max-width: 78.56em;
}
.container-md {
  max-width: 100em;
}
.container-lg {
  max-width: 112.9em;
}
.container-xl {
  max-width: none;
}

@media (max-width: 48rem) {
  .container-xs,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl {
    padding-inline: var(--md);
  }
}

.max-w-container-80ch {
  margin-left: auto;
  margin-right: auto;
  max-width: 80ch;
}
