.dropdown {
  position: relative;
  display: inline-block;
  width: 100%;
}

.dropdown-trigger {
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  margin-top: 4px;

  background-color: var(--hl-surfacecontainer);
  border-radius: var(--sm);
  box-shadow: var(--shadow-md);
  z-index: 100;

  display: none;
  flex-direction: column;
  padding-block: var(--sm);
}

.dropdown.open .dropdown-menu {
  display: flex;
}

.dropdown-item {
  padding: var(--md);
  color: var(--hl-onsurface);
  cursor: pointer;
  transition: background-color 200ms ease;
}

.dropdown-item:hover {
  background-color: var(--hl-surfacecontainerhigh);
}

.dropdown-item.selected {
  background-color: var(--hl-primarycontainer);
  color: var(--hl-onprimarycontainer);
}
