.list {
  display: flex;
  flex-direction: column;
  padding-block: 8px;
}

.list-item {
  display: flex;
  align-items: center;
  gap: 16px;
  min-height: 56px;
  padding-inline: 16px;
  color: var(--hl-onsurface);
}

.list-item:hover {
  background-color: var(--hl-surfacecontainer);
}
