.nav-drawer {
  --drawer-width: 360px;
  --drawer-radius: var(--lg);
  
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: var(--drawer-width);
  
  background-color: var(--hl-surfacecontainerlow);
  border-radius: 0 var(--drawer-radius) var(--drawer-radius) 0;
  
  transform: translateX(-100%);
  transition: transform 300ms cubic-bezier(0.2, 0, 0, 1);
  z-index: 1002;
  
  display: flex;
  flex-direction: column;
  padding: var(--md);
}

.nav-drawer.open {
  transform: translateX(0);
}
