.radio-wrap {
  display: inline-flex;
  align-items: center;
  gap: var(--md);
  cursor: pointer;
  user-select: none;
}

.radio-input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.radio-control {
  --rad-unchecked-color: var(--hl-on-surface-variant);
  --rad-checked-color: var(--hl-primary);

  --rad-size: var(--lg);
  --rad-inner-size: var(--md);

  width: var(--rad-size);
  height: var(--rad-size);
  border: 2px solid var(--rad-unchecked-color);
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  transition: border-color 200ms ease;
}

.radio-control::after {
  content: "";
  width: var(--rad-inner-size);
  height: var(--rad-inner-size);
  background-color: var(--rad-checked-color);
  border-radius: 50%;
  transform: scale(0);
  transition: transform 200ms cubic-bezier(0.4, 0, 0.2, 1);
}

.radio-control::before {
  content: "";
  position: absolute;
  inset: -10px;
  border-radius: 50%;
  background-color: var(--hl-primary);
  opacity: 0;
  transition: opacity 200ms linear;
  pointer-events: none;
}
.radio-wrap:hover .radio-control::before {
  opacity: 0.08;
}

.radio-input:checked + .radio-control {
  border-color: var(--rad-checked-color);
}
.radio-input:checked + .radio-control::after {
  transform: scale(1);
}
