.switch-wrap {
  display: inline-flex;
  align-items: center;
  gap: var(--md);
  cursor: pointer;
  user-select: none;
}

.switch-input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.switch-track {
  --sw-track-off: var(--hl-surfacecontainerhighest);
  --sw-track-on: var(--hl-primary);
  --sw-thumb-off: var(--hl-outline);
  --sw-thumb-on: var(--hl-onprimary);
  
  --sw-width: var(--3xl);
  --sw-height: var(--xl);
  --sw-thumb-size: var(--lg);
  --sw-thumb-pad: 4px;
  
  width: var(--sw-width);
  height: var(--sw-height);
  background-color: var(--sw-track-off);
  border-radius: 100em;
  border: 2px solid var(--hl-outline);
  
  position: relative;
  transition: background-color 200ms ease, border-color 200ms ease;
}

.switch-thumb {
  position: absolute;
  top: 50%;
  left: var(--sw-thumb-pad);
  width: calc(var(--sw-thumb-size) * 0.7);
  height: calc(var(--sw-thumb-size) * 0.7);
  background-color: var(--sw-thumb-off);
  border-radius: 50%;
  transform: translateY(-50%);
  transition: 
    left 200ms cubic-bezier(0.4, 0, 0.2, 1), 
    width 200ms, height 200ms, background-color 200ms;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

.switch-thumb i {
  font-size: 0.8em;
  opacity: 0;
  color: var(--sw-track-on);
  transition: opacity 200ms;
}

.switch-input:checked + .switch-track {
  background-color: var(--sw-track-on);
  border-color: var(--sw-track-on);
}

.switch-input:checked + .switch-track .switch-thumb {
  left: calc(100% - var(--sw-thumb-size) - 2px);
  background-color: var(--sw-thumb-on);
  width: var(--sw-thumb-size);
  height: var(--sw-thumb-size);
}

.switch-input:checked + .switch-track .switch-thumb i {
  opacity: 1;
}

.switch-track::after {
  content: "";
  position: absolute;
  top: 50%;
  left: var(--sw-thumb-pad);
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  background-color: var(--hl-on-surface);
  border-radius: 50%;
  opacity: 0;
  transition: opacity 200ms, left 200ms;
  pointer-events: none;
}
.switch-wrap:hover .switch-track::after {
  opacity: 0.08;
}
.switch-input:checked + .switch-track::after {
  left: calc(100% - var(--sw-thumb-size) + 10px);
  background-color: var(--hl-primary);
}
